.grid {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #025883;
    font-size: 79px;
    margin-bottom: 0px;
}

h3 {
    font-family:'Amatic SC', cursive;
    text-align: center;
    color: #76797b;
    font-size: 39px;
    margin-top: 0px;
}